<ion-split-pane contentId="invoicer-content">
    <ion-menu contentId="invoicer-content" type="overlay" class="paper-menu">
        <ion-content class="--menu-content">
            <div>
                <span>
                    <img src="assets/img/paperlogowhite.svg" alt="logo" class="--logo-lg">
                </span>
                <span class="">
                    <img src="assets/img/gradient-header.svg" alt="logo" class="--gradient-header">
                </span>
            </div>
            <!-- <ion-list class="list-menu" style="margin:20px 0">
                <ion-item class="--menu-item-label">
                    <h2 style="display:inline-block; display: flex; align-items:center;">
                        <img src="assets/img/side-menu/profile.svg" class="icon-item_paper"
                            style="width:20px; padding:0; margin-right:10px;">
                        <span style="text-transform: capitalize;font-size: 1.4rem">profile.name<br />
                            <span style="font-size:1.2rem;text-transform: lowercase;">profile.email</span>
                        </span>
                    </h2>
                    <div class="" padding *ngIf="referral_code != ''">
                        <ion-row>
                            <ion-col col-8>
                                <button (click)='copy()' class="paper-button paper-button-green" ion-button>
                                    <ion-icon slot="start" name="copy" style="margin-right:5px"></ion-icon>
                                    referral_code
                                </button>
                            </ion-col>
                        </ion-row>
                    </div>

                    <div *ngIf="isVerified == false" (click)="verifyEmail()" class="verify-email-button"
                        style="margin-top: 10px; margin-left: 25px;">
                        <img src="assets/img/icon_verify_email_shield.svg" alt="info" class="verify-email-icon">
                        <div style="text-align:center">Verifikasi Akun Anda</div>
                    </div>
                </ion-item>
            </ion-list> -->

            <!-- <ion-list class="--list-menu">

                <div *ngFor="let p of pages">
                    <div
                        [hidden]="(['Pengaturan'].indexOf(p.title) >= 0 && isAdmin || ['Laporan','Pengaturan','Purchase Order','Keuangan','Biaya', 'Stok'].indexOf(p.title) >= 0 && isMarketing)">
                        <button *ngIf="p.nav" menuClose ion-item (click)="openPage(p); clearToggle(p); setActive(p)"
                            class="--menu-item-label">
                            <h2 style="display:inline-block;"
                                [ngClass]="{'--paper-color-green':p.active, '--paper-color-white':!p.active}">
                                <img src="{{p.icon}}" class="--paper-icon-item">
                                {{p.title}}
                            </h2>
                        </button>
                        <button *ngIf="!p.nav" ion-item (click)="p.toggle = !p.toggle; clearToggle(p)"
                            class="--menu-item-label">
                            <h2 style="display:inline-block;font-family:'lato'"
                                [ngClass]="{'--paper-color-green':p.toggle, '--paper-color-white':!p.toggle}">
                                <img src="{{p.icon}}" class="--paper-icon-item">
                                {{p.title}}
                            </h2>
                            <ion-icon [hidden]="p.toggle" item-right name="ios-arrow-forward"
                                style="font-size:16px;margin-top: 18px;"
                                [ngClass]="{'--paper-color-green':p.toggle, '--paper-color-white':!p.toggle}">
                            </ion-icon>
                            <ion-icon [hidden]="!p.toggle" item-right name="ios-arrow-down"
                                style="font-size:16px;margin-top: 18px;"
                                [ngClass]="{'--paper-color-green':p.toggle, '--paper-color-white':!p.toggle}">
                            </ion-icon>
                        </button>
                        <div *ngIf="p.toggle">
                            <div *ngFor="let child of p.childs">
                                <div
                                    [hidden]="(['Kirim Pembayaran','Invoice Pembelian','Purchase Order', 'Lokasi List'].indexOf(child.title) >= 0 && isMarketing)">
                                    <button menuClose ion-item (click)="openPage(child); setActive(child);"
                                        class="--menu-item-label --paper-side-blue">
                                        <h2 style="padding-left:30px;display:inline-block;"
                                            [ngClass]="{'--paper-color-green':child.active, '--paper-color-white':!child.active}">
                                            {{child.title}}</h2>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button menuClose ion-item [routerLink]="['SupportPage']" class="--menu-item-label">
                    <h2>
                        <img src="assets/img/side-menu/support.svg" class="--paper-icon-item">
                        Support Center
                    </h2>

                </button>
                <button menuClose ion-item (click)="logout()" class="--menu-item-label">
                    <h2>
                        <img src="assets/img/side-menu/logout.svg" class="--paper-icon-item">
                        Log out
                    </h2>

                </button>
            </ion-list> -->

            <ion-list class="list-menu">
                <ion-menu-toggle auto-hide="false" *ngFor="let p of pages">
                    <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
                        <ion-icon slot="start" [name]="p.icon"></ion-icon>
                        <ion-label>
                            {{p.title}}
                        </ion-label>
                    </ion-item>
                </ion-menu-toggle>
            </ion-list>
        </ion-content>
    </ion-menu>
    <ion-router-outlet id="invoicer-content"></ion-router-outlet>
</ion-split-pane>