.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #4198D5;
  ;
  border-radius: 50%;
  width: 27px;
  height: 27px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  position: relative;
  top: 40%;
  /* left: 50%; */
  transform: translate(-50%, -50%);
  /* right: 50%; */
  margin: 0 auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
