

welcome-component{
	//	.swiper-pagination-bullet{
	//		width: 10px;
	//		height: 10px;
	//	}
		.swiper-pagination-bullet-active{
			background: #696969;
		}
		.welcome_button{
			text-align: center;
		}
		.welcome_button .button-create{
			margin-top: 20px;
			width: 100%;
		}
		.welcome_button .button-register {
			margin-top: 20px;
		}
		.welcome_button .text-login {
			margin-top: 10px;
			color: #4399d4;
		}
		.content-slide img{
			padding: 0;
		}
		.content-slide p{
			padding: 0px 20px;
			font-size: 14px;
			font-family: "lato";
			font-weight: 300;
			line-height: 1.5;
			margin-bottom: 30px;
		}
		.content-slide h2{
			margin: 0;
			margin-top: 5px;
			padding: 0px 20px;
			font-size: 16px;
			font-family: "lato";
		}
		.row-footer {
			display: flex;
			justify-content: center;
		}
		.footer-md::before {
			height: 0;
		}
		.footer-onboarding {
			// background: url('../../assets/img/wave-onboarding.svg');
			// background-repeat: no-repeat;
			// background-size: cover;
			// background-position-y: bottom;
			// height: 140px;
			padding-bottom: 20px;
			overflow: visible;
		}
		.swiper-container-horizontal > .swiper-pagination-bullets {
			bottom: 0px;
		}
		.swiper-pagination-bullet,
		.swiper-pagination-bullet-active {
			background-color: #4399d4;
		}
		.wave-onboarding {
			position: absolute;
			bottom: 0;
			left: 0;
			z-index: -1;
			width: 100%;
		}
		.content-md .scroll-content {
			margin-bottom: 110px !important;
		}
	}