<!-- <spinner [hidden]="!isLoading" class="white-paper"></spinner> -->
<ion-header class="--chevron-back-button" style="background: transparent">
    <ion-title></ion-title>
</ion-header>

<ion-content class="register-content">
    <ion-row>
        <form [formGroup]="registerForm" class="remove_padding_form" style="padding: 0 15px;">
            <ion-col size="12">
                <div class="login-paper-logo">
                    <img src="assets/img/logo_regis_paper.svg">
                </div>
            </ion-col>
            <ion-col size="12">
                <div class="welcome_form">
                    <h1>Daftar ke Paper.id</h1>
                    <h6>Silahkan masukkan Email Anda untuk mendaftar</h6>
                    <!-- <h6>Silahkan masukkan Email atau Nomor Handphone Anda untuk melanjutkan</h6> -->
                </div>
            </ion-col>
            <ion-col size="12">
                <ion-item class="input-form-item login-form-item" [ngClass]="'--padding-side-without-card'">
                    <!-- <ion-label stacked class="form-label" [ngClass]="{ 'form-error-red' : type_input === 'Invalid' }">
                        {{ type_input }}
                    </ion-label> -->
                    <ion-input type="text" formControlName="registered_by" value="Paper" hidden></ion-input>
                    <ion-input autocomplete="new-password" class="input-form input-email-form" type="email"
                        formControlName="email" [style.--color]="'green'" placeholder="cth. priska@paper.id" required
                        [ngClass]="{ 'error-border-red': (!registerForm.controls.email.valid && (registerForm.controls.email.touched || submitAttempt)) || 
                            (type_input == '' && registerForm.controls.email.valid) }"></ion-input>
                </ion-item>
                <ion-item *ngIf="type_input != '' || !registerForm.controls.email.valid"
                    class="--padding-side-without-card form-message login-ion-item">
                    <div
                        [ngClass]="{ 'error-red': (!registerForm.controls.email.valid && (registerForm.controls.email.touched || submitAttempt)) }">
                        Masukkan Email Anda
                    </div>
                </ion-item>
                <ion-item *ngIf="type_input == '' && registerForm.controls.email.valid"
                    class="--padding-side-without-card form-message login-ion-item">
                    <div [ngClass]="{ 'error-red': true }">
                        Mohon Cek Kembali Email Anda
                    </div>
                </ion-item>
                <ion-item class="input-form-item login-form-item" [ngClass]="'--padding-side-without-card'">
                    <ion-input (input)="validatePassword()" class="input-form input-password-form"
                        [type]="password_type" formControlName="password" [style.--color]="'green'"
                        placeholder="Kata Sandi" required [ngClass]="{ 'error-border-red': (!registerForm.controls.password.valid && (registerForm.controls.password.touched || submitAttempt)) || 
                            (type_input == '' && registerForm.controls.password.valid) }"></ion-input>
                    <div class="eye mask" item-right (click)="unmask()" *ngIf="mask_value"></div>
                    <div class="eye unmask" item-right (click)="mask()" *ngIf="!mask_value"></div>
                </ion-item>
                <ion-item class="--padding-side-without-card form-message login-ion-item">
                    <div
                        [ngClass]="{ 'error-red': (!registerForm.controls.password.valid && (registerForm.controls.password.touched || submitAttempt)) }">
                        Masukkan Kata Sandi Anda
                    </div>
                </ion-item>
                <ion-item class="input-form-item login-form-item" [ngClass]="'--padding-side-without-card'">
                    <!-- <ion-label stacked class="form-label" style="margin-top: 0px;"
                        [ngClass]="{ 'form-error-red' : password_valid === false && password_valid != null }">
                        {{ password_value }}
                    </ion-label> -->
                    <ion-input (input)="validatePassword()" class="input-form input-password-form"
                        [type]="password_type" formControlName="password_confirmation" [style.--color]="'green'"
                        placeholder="Ulangi Kata Sandi" required [ngClass]="{ 'error-border-red': (!registerForm.controls.password_confirmation.valid && (registerForm.controls.password_confirmation.touched || submitAttempt)) || 
                            (type_input == '' && registerForm.controls.password_confirmation.valid) ||
                            (password_valid === false && password_valid != null) }"></ion-input>
                    <div class="eye mask" item-right (click)="unmask()" *ngIf="mask_value"></div>
                    <div class="eye unmask" item-right (click)="mask()" *ngIf="!mask_value"></div>
                </ion-item>
                <ion-item class="--padding-side-without-card form-message login-ion-item">
                    <div *ngIf="registerForm.controls.password_confirmation.value == '' || password_valid === true"
                        [ngClass]="{ 'error-red': (!registerForm.controls.password_confirmation.valid && (registerForm.controls.password_confirmation.touched || submitAttempt)) }">
                        Masukkan Ulang Kata Sandi Anda
                    </div>
                    <div *ngIf="password_valid === false && registerForm.controls.password_confirmation.value != ''"
                        [ngClass]="{ 'error-red': (password_valid === false && password_valid != null) }">
                        Konfirmasi Kata Sandi Tidak Sama
                    </div>
                </ion-item>
            </ion-col>

            <ion-col size="12">
                <div ion-text class="text-center">
                    <button ion-button color="paper_blue" (click)="save(registerForm)"
                        class="button-create button-create-form-register button-login">
                        Daftar
                    </button>
                </div>
            </ion-col>
        </form>
    </ion-row>
    <ion-row>
        <ion-col size="12" class="footer_login">
            <div class="welcome_button">
                <div style="color: #809cb4">
                    Sudah memiliki akun PayPer / Paper.id?
                </div>
                <div color="paper_blue" routerLink="/login" class="text-register">
                    Masuk dengan akun terdaftar
                </div>
            </div>
        </ion-col>
    </ion-row>
</ion-content>